.bold1 {
  font-family: 'Roboto', sans-serif;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 88px;
}

.medium1 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.medium2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 28px;
}

.regular1 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  line-height: 24px;
}

.default {
  color: #FFF;
}

.secondary {
  color: darkgrey;
}

.active {
  color: #2EC4B6;
}

.highlight {
  color: #FF9F1C;
}

.disabled {
  color: grey;
}

.negative {
  color: #FF4040;
}
